body{
    background-color:white;
    font-family: monospace;
   color: black;
   text-align: center;
   margin-top: 0px;
   margin-left: 0px;
   

}
.ul1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:white;
    list-style-type: none;
    font-size: large;
     gap: 10%;

}
@media (max-width:700px) {
    .ul1{
        font-size: medium;

    }
    #work1{
        margin-top: 30%;
    }
    #im1{
       width: 50%;
       height: 70%;
    }
    #c1{
        width:70%;
        height: 70%;
        margin-top: 15%;
       
    }
     .header{
        position:sticky; 
        
    }
     .v1{
            width: 70%;
            height: 60%;
         
    }
   
   
    
    
}
#c1{
    width: 50%;
    height: 50%;
    margin-top: 15%;
}
li:hover{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid red;
    color: white;

    
    
}
a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
}
#a4{
    float: right;
}

.header{
    background-color: black;
    color:white;
    width: 100%;
    margin-top: 0px;
    position:absolute;
    margin-left: 0px;
 @media (max-width:700px) {

    
 }   
    
}
#work1{
    position: absolute;
    text-align: center;
    font-size: larger;
    margin-left: 10%;
    
}
/*
project.html css
*/
.cd1{
    margin: 5px;
    display: inline-flex;
    width: 300px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 5px 8px black;


}
.cd1 a{
    color: rgb(0, 0, 0);

}
.cd1 .link{
    background-color: aliceblue;

}

#main1{
    margin-top: 15%;
}
/*
news.html css
*/
#main2{
    text-align: center;
    color: black;
    margin-top: 15%;
}
/*
contct.html css
*/
#main3{
    text-align: center;
    color: black;
    margin-top: 15%;
    margin-left: 15%;
    overflow: hidden;
   width: 70%;

}
#main3 img{
    width: auto;
    height: 300px;
    
}
/*
about.html css
*/
#main4{
    margin-top: 15%;

}
#main4 div{
    border: 1px solid black;
    margin: 10%;
    border-radius: 10px;
    background-color: transparent;
    animation: anime1 5s ease-in-out infinite;
}
@keyframes anime1 {
50%{
    box-shadow: 5px 10px 18px red;
}    
}
