body{
    background-color:white;
    font-family: monospace;
   color: black;
   text-align: center;
   margin-top: 0px;
   margin-left: 0px;
   

}
.ul1{
    display: inline-flex;
    color:white;
    list-style-type: none;
    font-size: large;
     gap: 10%;
     margin-left: -10%;

}
li:hover{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid red;
    color: white;

    
    
}
a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
}
#a4{
    float: right;
}

.header{
    background-color: black;
    color:white;
    width: 100%;
    margin-top: 0px;
    position:absolute;
    margin-left: 0px;
    
    
}
#work1{
    position: absolute;
    margin-top: 15%;
    text-align: right;
    margin-left: 10%;
    font-size: larger;
    
}
.cd1{
    margin: 5px;
    float: left;
    width: 200px;
}
.cd1 a{
    color: rgb(255, 255, 255);

}
.cd1 .link{
    background-color: red;
    border-radius: 5px;

}
#c1{
    margin-left: 40%;
}